<footer class="footer bg-dark py-3 mt-auto">
    <div style="margin-left: 20px;"class="container-fluid">
        <span class ='text-muted'>
            Where To Chill- &copy 2021
        </span>
    </div>
</footer>