<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        class="logo d-inline-block align-top"
        src="https://res.cloudinary.com/overcookedsushi/image/upload/v1613880164/where-chill/logo1_wiazjs.png"
        alt=" Img option 1"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bars">Bars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bars/new">Upload New Bar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="/">Travels(TBD)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="/">Add Travel Blog Entry(TBD)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted" href="/">Journaling(TBD)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Me</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          > -->
            <!-- About Me
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">TBD contact</a></li>
            <li><a class="dropdown-item" href="#">TBD about me</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Donations pls</a></li>
          </ul>
        </li> -->
        <!-- <li>
          <form class="d-flex">
            <input
              class="form-control me-1"
              type="search"
              placeholder="Search - tbd add query string"
              aria-label="Search"
            />
            <button class="btn btn-outline-success me-4" type="submit">
              Search
            </button>
          </form>
        </li> -->
      </ul>
    </div>
    <div class="navbar-nav me-2">
      <% if(!currentUser){%>
      <a class="nav-link btn btn-success me-2" href="/login">Login</a>
      <a class="nav-link btn btn-success me-2" href="/register">Register</a>
      <%} else {%>
      <a class="nav-link disabled" href="#"
        >Welcome back <%=currentUser.username%></a
      >
      <a class="nav-link btn btn-outline-danger" href="/logout">Log Out</a>
      <%} %>
    </div>
  </div>
</nav>
