<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Bar Information</title>
</head>
<body>
    <h1>Edit Bar Information</h1>
    <form action="/bars/<%=bar._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">Name of bar</label>
            <input type="text" name="bars[name]" id="name" value = "<%=bar.name%>">
        </div>
        <div>
            <label for="location">Location of Bar</label>
            <input type="text" name="bars[location.display_address]" id="location" value ="<%=bar.location.display_address%>">
        </div>
        <button>Update Bar Information</button>
        </form>
    <!-- <form action="/bars/?_edit" method ="POST"></form> -->
</body>
</html>