<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%=bar.name%></h1>
    <h2><%=bar.location.display_address%></h2>
    <img src="<%=bar.image_url%>" alt="">
</body>
</html>